{% extends "base.html" %}

{% block content %}

<div class="catalog-table">
  <svg height="auto" width="auto">
    <rect height="auto" width="auto" class="table-background" />
  </svg>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Component Name</th>
        <th>Owner</th>
        <th>Thrust</th>
        <th>Status</th>
        <th>Description</th>
        <th>Version</th>
        <th>ICICLE Release</th>
      </tr>
    </thead>
    <tbody class=""catalog-table>
      {% for c in components %}
      <tr>
        <td>{{ c['name'] }}(<a href="/data/{{ c['id'] }}">Details)</a</td>
        <td>{{ c['owner'] }}</td>
        <td>{{ c['primaryThrust'] }}</td>
        <td>{{ c['status'] }}</td>
        <td>{{ c['description'] }}</td>
        <td>{{ c['componentVersion'] }}</td>
        <td>{{ c['targetIcicleRelease'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
</script>
{% endblock %}